
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    max-width: 1200px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: url(imgs/patternECOStransparente.png), linear-gradient(to bottom right, #295ba7, #78b454);
    height: 45px;
}
.header-left{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.botao-text{
    margin-left: 10px;
    display: flex;
    cursor: pointer;
}
.botao-text:hover{
    background-color: rgba(0, 0, 0, 0.5)
}
.botao div{
    margin-left: 15px;
    width: 14px;
    height: 3px;
    background: #fff;
    margin-top: 4px;
}
.botao div:hover{
    cursor: pointer;
}
.header-left p{
    color: white;
    font-size: 14px;
    margin-top:4px;
    margin-left: 10px;
}
.header-left input[type=text]{
    margin-top: 3px;
    margin-left: 25px;
    height: 20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    border: none;
}
.header-left i{
    position: absolute;
    margin-left: 450px;
    color: white;
    margin-top: 4px;
    font-size: 12px;
}
input::placeholder{
    color: white;
    font-size: 10px;
}
.header-right{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 280px;
}
.header-right i{
    font-size: 18px;
    color: white;
    padding-left: 220px;
    margin-top: 6px;
}
.foto{
    width: 25px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    
}
.foto img{
    position: absolute;
    bottom: 0;
    width: 100%;
}
main{
    margin: 10px;
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 1fr;
}
.left{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.left .legenda{
    background-color: whitesmoke;
    text-transform: uppercase;
    color: black;
    font: roboto;
    padding: 10px;
    width: 100%;
}
/* .left .main{
    padding: 10px;
} */
.card-total{
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 200px;
}
.card-text{
    display: inline;
}
.borda-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.parte1 h3{
    margin-top: 25px;
}
.parte1 h4{
    margin-bottom: 22px;
}
.right-1{
    display: flex;
    flex-direction: column;
}
.cabecalho{
    background-color: whitesmoke;
    text-transform: uppercase;
    color: black;
    font: roboto;
    padding: 10px;
    border-bottom: 2px solid black;;
}
.sys-law{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 375px;
    gap: 10px;
    background-color: rgb(70, 70, 156);
    margin-bottom: 10px;
}  
.sys-law div{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 5%;
}
.sys-law i{
    font-size: 16px;
    color: forestgreen;
}
.sys-law p{
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    color: forestgreen;
}
.last-birth{
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.last-people{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    height: 675px;
    gap: 10px;
    background-color: blueviolet;
    margin-bottom: 10px;
} 
.last-people div{
    display: flex;
    flex-direction: row;
    height: 107px;
}
.last-people-image{
    width: 110px;
    background-color: red !important;
}
.last-people-text{
    width: 240px;
    background-color: green !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

